body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MagistralC';
  src: url('../public/fonts/magistralc/MagistralC.otf') format('opentype'),
    url('../public/fonts/magistralc/MagistralC-Bold.otf') format('opentype');
}

* {
  font-family: 'MagistralC';
  font-weight: normal;
  font-size: 18px;
  color: black;
}

.font-fix {
  letter-spacing: 0.15em;
  color: #FFFFFF !important;
  font-size: 12px;
}

.black {
  color: #444444;
}

.breadcrumb a,
strong {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.19em;
  color: #848484;
  text-decoration: none;
}

.breadcrumb mark {
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.19em;
  color: #444444;
}

p,
h1,
h3,
h4,
h5 {
  color: #F1F1F1;
}

b {
  color: black;
  font-size: 18px;
}

#search {
  background-image: url('../src/assets/search.png');
  background-position: 1%;
  background-repeat: no-repeat;
  text-indent: 20px;
  background-color: #C5C5C533;
}

#searchbrand {
  background-image: url('../src/assets/search.png');
  background-position: 1%;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #FF820E;
  border: none;
}

.form-control {
  border-radius: 32px !important;
}

.smth {
  border-bottom: 1px #C2C2C2 solid;
}

.white {
  color: #FFFFFF !important;
}

.gold {
  color: #FF820E !important;
}

.menu {
  width: 25% !important;
  float: left !important;
  background: #F5F5F5;
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.menu-open {
  margin-top: 1rem;
  margin-left: 0.8rem !important;
  width: 60.5% !important;
  background-color: #444444;
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: absolute;
  z-index: 3;
}

.menu-open h1 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.145em;
  color: #FF820E;
}

.menu-open p {
  font-weight: 400 !important;
  font-size: 13px !important;
  margin-bottom: 0;
  color: #FFFFFF;
}

.menu-open h3 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.145em;
  color: #FFFFFF !important;
}

.nav-fix {
  color: #282828 !important;
  font-size: 14px;
  font-weight: 700;

}

.nav-fix span {
  color: #F1F1F1 !important;
  font-size: 14px;
}

.main-img {
  float: right !important;
}

.pic-text {
  top: 90px;
  left: 92px;
  font-weight: 700;
}

.pic-text-lower {
  top: 200px;
  left: 92px;
  right: 400px;
  font-size: 14px;
  color: #575757;
  font-weight: 700;
}

.bttn {
  background-color: #FF820E !important;
  border-color: #FF820E !important;
  border-radius: 20px !important;
  padding: 6px 100px 6px 100px !important;
  color: #F5F5F5 !important;
  top: 380px;
  left: 92px;
  transition: none !important;
}

.stuff {
  background-color: #FCC15E;
  border-radius: 20px;
  width: 20% !important;
}

.bulb-text {
  color: #F5F5F5 !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

.prod-cont {
  width: 80% !important;
  float: left;
}

.menu:hover {
  transition: 0.7s;
  background-color: #444444;
  color: #EBEBEB !important;
}

.menu-item:hover {
  transition: 0.7s;
  color: #EBEBEB !important;
}

.sales-prod {
  border-radius: 20px !important;
  border: 5px solid #FCC15E;
  width: 18% !important;
}

.sales-prod p,
h3,
del,
small {
  color: black !important;
  font-weight: 700;
}

.sales-prod h3 b {
  font-size: 28px !important;
}

.sales-prod h4,
h4 small {
  color: #FF820E !important;
  font-size: 20px;
  font-weight: 700;
}

.sales-prod-carousel strong {
  color: white;
}

.sales-prod-carousel h1 {
  color: black;

}

.container-fluid strong {
  color: black;
}

.container-fluid strong {
  font-size: 36px;
}

.sales-prod-carousel {
  background-color: #EBEBEB;
}

.sales-prod-carousel b {
  font-size: 16px !important;
}

.sales-prod-carousel h4,
del {
  font-size: 13px !important;
}

.sales-prod-carousel small {
  font-size: 8px !important;
}

.bttn-low {
  color: black !important;
}

.promos {
  background-color: #F8BB54;
  width: 23% !important;
  border-radius: 26px;
  padding: 0 !important;
}

.promos h1 {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF !important;
}

.promos p {
  color: black;
  font-size: 12px;
  font-weight: 500;
}

h1 {
  color: black;
}

.col-sm-3 .container p {
  background: linear-gradient(180deg, #4A4A4A 0%, rgba(74, 74, 74, 0) 95.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.col-sm-3 p {
  color: black !important;
}

.card {
  background: #F9F9F9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  width: 18% !important;
  padding: 20px 10px 0 20px !important;
}

.card h1 {
  font-size: 22px;
  font-weight: 700;
}

.track {
  background-color: #ebebeb;
}

.footer {
  background-color: #282828;
}

.head {
  top: 50px;
}

.footer h4 {
  font-size: 20px;
  font-weight: 700;
}

.footer h5 {
  font-size: 16px;
  font-weight: 700;
}

.footer p {
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: -5px;
  font-weight: 400;
}

#e-mail {

  background-image: url('../src/assets/enter.png');
  background-position: 97%;
  background-repeat: no-repeat;
  border-radius: 46px;
}

input::placeholder {
  color: #979797;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 400;
}

.lineup {
  border-top: 1px solid #F1F1F1;
}

.input-fix {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 50px !important;
  padding-left: 5px !important;
  border: none;
}

.icons-fix {
  padding-right: 20px !important;
}

.footer strong {
  font-size: 12px !important;
  color: white;
}

.footer-nav {
  padding-top: 89px;
}

.linedown {
  border-bottom: 1px solid #F1F1F1;
}

.fix-right {
  padding-top: 1px;
}

.footer-nav p {
  font-size: 10px;
  font-weight: 400;
}

.stick-2.affix-top {
  position: static;
}

.stick-2.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
}

.head {
  background-color: white;
}

.about-img {
  float: right;
}

.about-text {
  margin-top: 80px;
}

.about-text h1 {
  color: #FF820E;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.19em;
}

.about-text h3 {
  color: #444444;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.19em;
}

.about-text p {
  color: #444444;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.19em;
}

.video-el {
  position: relative;
  margin-top: 50px;
  background-image: url('./assets/video.png');
  width: 100%;
  height: 800px;
}

.play-upper {
  position: absolute;
  top: 0;
  left: 39.5%;
  background: #FF820E;
  border-radius: 0px 0px 30px 30px;
  border: none;
  padding: 10px 80px 10px 80px;
  font-size: 14px;
  font-weight: 700;
}

.play-button {
  position: absolute;
  top: 46%;
  left: 46%;
}

.tabs {
  padding: 0px 100px 0px 100px;
  background: #F9F9F9;
  border-radius: 0px 25px 25px 25px;
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
}

.story-text {
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 0.19em;
  color: #444444;
}

.tabs-cont {
  background-color: #ebebeb;
  text-align: center;
}

.tabs-cont p {
  color: #444;
}

.tabs-cont h1 {
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 0.19em;
  color: #444444;
}

.content-cont {
  background: #F1F1F1;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 0px !important;
  border-radius: 15px;
}

.align-items-start h3 {
  font-size: 20px;
  letter-spacing: 0.195em;
  color: #444444;
  font-weight: 700;
}

.content-cont h1 {
  float: left;
}

.content-cont p {
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0.195em;

  color: #444444;
}

.linevert {
  border-right: 0.5px solid #BEBEBE;
}

.content-cont strong {
  color: #444444;
}

.map-cont {
  height: 450px;
  border: 1px dotted black;
}

.cart-cont {
  background: #F9F9F9;
  border-radius: 25px;
}

.main-nav {
  padding: 0 !important;
}

center {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.19em;
  color: #000000;
}

.alpha {
  text-align: center;
  letter-spacing: 1em;
  font-weight: 700;
  font-size: 30px;
}

.bgalpha {

  background-color: #DBDBDB;
}